
body {
    margin: auto;
    padding: 0;
    font-family: 'K2D', sans-serif;
    background: linear-gradient(180deg, #Ffffff 50%, #4D4AD6 50%);

}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    width: 100%;
    height: 999px;
}

.form-area {
    font-family: 'K2D', sans-serif;
    background-image: linear-gradient(#5585b5,#bbe4e9, #79c2d0);
    background-color: #e7e7e7;
    box-shadow: 5px 5px 3px 3px #dddddd;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px;
}

.form-area input, select {
    margin-bottom: 20px;
    width: 100%;
}

.form-area input[type=text]{
    font-family: 'K2D', sans-serif;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    display: 16px;
}

.form-area input[type=email]{
    font-family: 'K2D', sans-serif;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    display: 16px;
}

label {
    color: #000;
}

::placeholder{
    color: #000000;
}

.btn {
    display: block;
    text-align: center;
    margin: 0 auto; 
    margin-top: 40px;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;

    &:hover {
        background: #03e9f4;
        color: #000;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4,;
        cursor: pointer;
        border: none;
    }

    &:active {
        scale: 0.9;
    }
}


.dropdown-form {
    background-color: #eaeaea;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}