body {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
    background: linear-gradient(180deg, #Ffffff 50%, #4D4AD6 50%);
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 990px;
}

.search-bar {
    width: 55vh;
    min-height: 70px;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    margin-top: 48px;
    color: #999999;
}

input {
    font-family: 'K2D';
    width: 600px;
    height: 63px;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: large;
    border: 2px solid #ffffff;
}


input [type=text]:active {
    border: 3px solid #f7ff01;
}

::placeholder{
    color: #000000;
}

.btn {
    font-family: 'K2D', serif;
    font-weight: 400;
    width: 153px;
    min-height: 70px;
    font-size: 16px;
    background-color: #5474FD;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
        // background-color: #64aff9;
        background-color: #03e9f4;
        box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
         0 0 200px #03e9f4,;
    }

    &:active {
        scale: 0.9;
    }
}

.faq {
    margin: 10px;
}

.faq-list {
    color: #000000;
    font-weight: normal;
    font-size: 23px;
    text-decoration: none;
    list-style-type: circle;
}

li a {
    color: #000000;
    
    &:hover {
        color: #1b729b;
        cursor: pointer;
    }
}

.big-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.middle-card {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 550px;
    margin: 50px;
    padding: 30px;
    border: 1px solid black;
    border: none;
    border-radius: 10px;
    background-color: #808080;

    background: linear-gradient(40deg, #fff, #256ba5);
    animation: animate1 1s linear infinite;
}