* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    // Making sure it takes up around 50 / 50 of the background 
    background: linear-gradient(180deg, #Ffffff 45%, #4D4AD6 45%);
    font-family: 'K2D', sans-serif;
}
//Navbar extra changes put it as ID since it has to have higher hierachy then the class navbar.

#navbar-landing {
    position: absolute;
    width: 100%;

    .logo {
        width: 150px;
        padding: 0;
        margin-left: 20px;
        margin-top: 3px;
    }
}

// Footer extra changes, put as ID to make sure it has higher hierachy then the class footer
#footer-landing {
    position: absolute;
    bottom: 0px;
    width: 100%;

    
    .logo {
        width: 150px;
        height: auto;
        padding: 0;
        margin-left: 20px;
        margin-top: 2px;
    }
}



// The Container for our page 
// Different FR and VW to make sure sizes is fluid and set in stone, making sure its possible to place things as we want.
.grid__container {
    display: grid;
    grid-template-columns:0.5fr 0.2fr 0.2fr 0.5fr repeat(16, 4vw);
    grid-template-rows: 1fr repeat(21, 2vw) 1.5fr;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    gap: 5px;

    // This exist to change the size of the pictures we added
    .imgp {
        width: 8.5em;
        height: 9.5em;
    }
    .img1 {
        grid-area: 4 / 17 / 5 / 20;
    }
    
    .img2 {
        grid-area: 10 / 17 / 15 / 20;
    }
    
    .img3 {
        grid-area: 16 / 17 / 21 / 20;
    }
    
    .img4 {
        grid-area: 7 / 14 / 9 / 17;
    }
    
    .img5 {
        grid-area: 13 / 14 / 17 / 17;
    }
    
    .img6 {
        grid-area: 10 / 11 / 14 / 14;
    }

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #000000;
        grid-area: 5 / 2 / 7 / 8;
    }

    .discover__my__place {
        grid-area: 10 / 2 / 11 / 4 ;

    }

    .discover__btn {
        color: white;
        background: #6CB8E3;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-style: none;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        width: 130px;
        height: 40px;
        &:hover {
            opacity: 0.5;
        }
        &:active {
            scale: 0.9;
        }
    }

    h1 {
        grid-area: 13 / 2 / 14 / 11;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 41px;
        color: #FFFFFF;
    }

    h2 {
        grid-area: 14 / 2 / 15 / 11;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 41px;
        color: #FFFFFF;
    }

    .line {
        grid-area: 15 / 2 / 16 / 10;

    }

    h3 {
        grid-area: 16 / 2 / 17 / 11;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }

    h4 {
        grid-area: 17 / 2 / 18 / 11;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }

    ul {
        grid-area: 19 / 2 / 20 / 22;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        list-style: none;

    }

    .list__style {
        font-weight: bold;
        font-size: 24px;
    }
}