body {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
    // background-image: url(/images/security2.png);
    // background-size: cover;
    list-style-type: none;
}

.navbar {
    width: 100%;
    height: 100%;
}

.logo {
    width: 200px;
    height: 100px;
    cursor: pointer;
}

nav {
    display: flex;
    width: 100%;
    height: 83px;
    background-image: linear-gradient( #4d4d4dbd ,#fff);
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style-type: none;
    position: relative;
}

nav ul li:hover {
    background-color: #5e5e5e;
    border-radius: 10px;
}

nav ul li a {
    display: block;
    font-family: 'K2D';
    /* color: #222; */
    color: #000;
    font-size: 20px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #03b2d5;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #929292;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}

nav ul li:hover ul {
    display: block;
    color: #00d5ff;
    transition: .1s;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: #818181a1;
}

/* Footer */
.footer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #fff ,#4d4d4dbd);
}