body {
  font-family: "K2D", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Navbar */
.subdown {
  margin: 0 auto;
  border-bottom: 1px solid #adadad;
}

nav {
  width: 100%;
  height: 61px;
  background: #bbe4e9;
  -webkit-box-shadow: rgb(187, 228, 233);
          box-shadow: rgb(187, 228, 233);
  border-bottom: 1px solid #adadad;
  position: absolute;
  top: 0px;
}

.logo {
  margin-top: -25px;
  padding: 5px 0 0 70px;
  width: 200px;
  height: auto;
  cursor: pointer;
}
.logo:hover {
  color: #bbe4e9;
}
.logo:active {
  scale: 0.9;
}

nav ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 150px;
  z-index: 1;
}

nav ul li {
  background: #bbe4e9;
  position: relative;
  list-style-type: none;
  display: inline-block;
}
nav ul li:hover > ul {
  display: block;
}

nav ul li a {
  display: block;
  padding: 0 15px;
  color: #000000;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
nav ul li a:hover {
  background-color: #82a5ac;
  color: #000000;
}
nav ul li a:active {
  scale: 0.9;
}

nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
  z-index: 1;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
  width: 230px;
}

/* Footer */
footer {
  width: 100%;
  height: 60px;
  background: #bbe4e9;
  -webkit-box-shadow: rgb(187, 228, 233);
          box-shadow: rgb(187, 228, 233);
  border-top: 1px solid #adadad;
  position: absolute;
  bottom: 0px;
}

footer ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 150px;
}

footer ul li {
  background: #bae3e8;
  position: relative;
  list-style-type: none;
  display: inline-block;
}
footer ul li:hover > ul {
  display: block;
}

footer ul li a {
  display: block;
  padding: 0 15px;
  color: #000000;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
footer ul li a:hover {
  background: #82a5ac;
  color: #000000;
}
footer ul li a:active {
  scale: 0.9;
}

footer ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

footer ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

footer ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
  width: 230px;
}