@import "navbar.css";
* {
  box-sizing: border-box;
}
body {
  background-color: #bbe4e9;
  font-size: 1rem;
  padding: 2rem;
  // width: 100vw;
  // height: 100vh;
}
.profile-big-container {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 50px;
}
.profile-wrapper {
  background-color: #d7e1ec;
  padding: 1rem;
  margin-inline: 10%;
  border: 1px solid #4078c0;
  border-radius: 5px;
}
.caps {
  text-transform: capitalize;
  font-family: "K2D", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  color: #c0893a;
  margin: 20px;
}
h2 {
  font-family: "K2D", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}
p {
  margin: 5px;
  line-height: 1.7rem;
  font-size: 14px;
}

.line-through {
  text-decoration: line-through;
  color: red;
}
.svg-image {
  width: 30vw;
  height: 0.1rem;
}
#email {
  color: yellow;
  text-decoration: none;
}
.fa {
  font-size: 1.2rem;
  height: 2.3rem;
  width: 2.3rem;
  background-color: rgb(251, 242, 245);
  border-radius: 2.3rem;
  border: 1px solid #4078c0;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 200ms ease-in-out;
}

.fa:hover {
  color: #4078c0;
  border: 0.2rem solid#5585b5;
  opacity: 1;
}

.fa-linkedin {
  color: #00a0dc;
}
.fa-github {
  color: #4078c0;
}
.fa-codepen {
  color: black;
}
.profile-wrapper {
  height: 70%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-inline: 10%;

  .profile-container {
    display: flex;
  }
  .profile-text {
    padding: 1rem;
    text-align: justify;
    flex-wrap: wrap;
  }
  img {
    max-width: 12rem;
    height: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 5px #5585b5;
    // border: 0.2rem #5585b5;
    margin: 0 auto;
  }
  .photo-contact-wrapper {
    width: 50%;
    padding: 1rem;
    text-align: center;
    margin: 0;
    .photo {
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .profile-contact {
      flex-wrap: wrap;
    }
  }
  p {
    line-height: 1.5em;
  }

  .text {
    width: 50%;
    margin-right: auto;
    padding: 2rem;
    flex-wrap: wrap;
    min-height: 0;
    border: 1px solid #00a0dc;
    text-align: start;
  }
}

@media (max-width: 600px) {
  .profile-wrapper {
    height: 100%;
    width: 100%;
    .photo-contact-wrapper {
      width: 90%;
    }
    .profile-container {
      display: block;
    }
    .profile-contact {
    }
    p {
      line-height: normal;
    }
  }
  h2 {
    font-size: 20px;
  }
  .caps {
    font-size: 1rem;
  }
  p {
    font-size: 14px;
  }
}
@import "footer.css";
